:root {
  --color-principal-orange: #ffb730;  
  --color-secundario-orange: #db991e;

  --color-principal-yellow: #ffce0a;
  --color-principal-red: #ec0911;

}

body {
  margin: 0;
  height: 100vh; 
  background-image: url('placeholder.PNG'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
}

/*botone principal, color naranja font grande*/
.btn-orange{
  font-size: 25px;
  font-weight: 500;
  background-color: var(--color-principal-yellow);
  border-color: var(--color-secundario-orange);

}
.btn-orange:hover{
  background-color: var(--color-secundario-orange);
  border-color: var(--color-secundario-orange);
}


.bg-orange{
  background-color: var(--color-principal-orange);
}
.bg-gray{
  background-color: var(--color-principal-orange);
}


.logo-small{
  width:40%;
}


/*para que parpadee el texto de inicio*/
@keyframes parpadeo {
  0%, 100% {
      opacity:  1; /* Texto visible */
  }
  50% {
      opacity: 0; /* Texto invisible */
  }
}
.parpadea {
  animation: parpadeo 1.5s infinite; /* Duración de 1 segundo, ciclo infinito */
} 

.principal-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem; 
  text-align: center;
  z-index: 1; /* Asegura que el texto esté sobre la imagen */
  background-color: #140922;
  color: var(--color-principal-orange);
  font-weight: bolder;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 5px 5px 10px #140922;
}

.table {
  margin-top: 20px;
}


.modal-content {
  background-color: #FFF5E1;
  border: 2px solid #D35400;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f3e3a2; 
}

.table th {
  background-color: #ffce0a;
  color: #FFFFFF;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item.active {
  background-color: #ffce0a;
  color: white;
}

.image-text-container {
  position: relative;
  display: inline-block;
}

.background-image {
  display: block;
}

/*Estilo de la barra de volumen*/
.volume-slider {
  width: 200px;
  border: 20px;
}
.volume-value {
  font-size: 18px;
  margin-left: 10px;
}

.volume-slider::-webkit-slider-thumb  {
  background-color: #ffce0a;
}

/*resolucion*/
.container-mt-5{
  align-content: center;
  }
  
  .btn-outline-custom {
    border-color: #ffce0a; 
    color: black;
  }
  
  .btn-outline-custom:hover {
    background-color: #ffce0a;
    color: white;
  }
  
  .btn-check:checked + .btn-outline-custom {
    background-color: #ffce0a;
    color: white;
    border-color: #ffce0a;
  }
